<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--<add key="DBConnectionString" value="Data Source=|DataDirectory|\Code\DataStore\SYMData.sdf;Password=speakyourmind;Persist Security Info=False;"/>-->
    <add key="DBConnectionString" value="Data Source=D:\github\speakout\SpeakOut\Code\DataStore\SYMData.sdf;Password=speakyourmind;Persist Security Info=False;"/>
  </appSettings>
</configuration>
